body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    background-color: white;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    margin: 15px 15px 15px 15px;
    width: 100px;
    height: 75px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: wrap;
    overflow: wrap;
    text-overflow: wrap;
}

button:hover {
    transition-duration: .4ms;
    background-color: gray;
}

nav {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    border: 2px dashed black;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;  
}

.container {
    margin-top: 50px;
    background-color: pink;
    border: 5px ridge black;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px;
}

#quizBody {
    text-align: center;
}
